groq==0.4.2
streamlit==1.31.0
langchain-groq==0.1.0
textblob==0.17.1
matplotlib==3.8.3
langchain==0.1.0
langchain-core==0.1.0
pandas==2.2.1
python-dotenv==1.0.0
streamlit-option-menu==0.3.12
plotly==5.18.0
numpy<2.0.0
